<ion-view animation="slide-left-right" title="Login">
	<ion-nav-buttons side="left">
		<button class="button-header back-button buttons button-clear header-item" ng-click="goBack()">
			<i class="icon ion-arrow-left-c"></i>
		</button>
	</ion-nav-buttons>
	<ion-content has-header="true" scroll="true" padding="false">
		 <div class="list" style="margin-top:20px" >
			<div class="item">
				<h2 class="item-bold">E-mail</h2>
				<input type="email" placeholder="email@email.com" ng-model="loginUser.email">
			</div>
			<div class="item">
				<h2 class="item-bold">Senha</h2>
				<input type="password" placeholder="Digite sua senha" ng-model="loginUser.password">
			</div>
		  <button class="button button-block button-darkblue" ng-click="login()">Login</button>
		</div>
		<div style="text-align:center">
			<button class="button button-block button-assertive" ng-click="criarConta()">
				Criar conta?
			</button>
		</div>
		<div style="text-align:center">
			</br></br>
			<a>Caso esqueceu a senha, clique para enviar uma nova senha no seu e-mail cadastrado:</br>
			<button class="button button-small button-positive" ng-click="gerarSenhaConta()">
            <i class="icon ion-ios-loop-strong"></i>Gerar Senha</button></a>
		</div>
		
  </ion-content>
    <ion-footer-bar class="bar bar-footer" keyboard-attach="true">
    </ion-footer-bar>
</ion-view>
