<ion-view animation="slide-left-right" title="Refazer senha">
	<ion-nav-buttons side="left">
		<button class="button-header back-button buttons button-clear header-item" ng-click="goBack()">
			<i class="icon ion-arrow-left-c"></i>
		</button>
	</ion-nav-buttons>
	<ion-content has-header="true" padding="true">
		 <div class="list" style="margin-top:20px" >
			<div class="item">
				<h2 class="item-bold">Senha</h2>
				<input type="password" placeholder="Digite nova senha" ng-model="loginUser.password">
			</div>
			<div class="item">
				<h2 class="item-bold">Repetir Senha</h2>
				<input type="password" placeholder="Confirma nova senha" ng-model="loginUser.password2">
			</div>
		  <button class="button button-block button-darkblue" ng-click="alterarSenha()">Modificar Senha</button>
		</div>
  </ion-content>
</ion-view>