<ion-view title="Configurações" scroll="false">
	<ion-nav-buttons side="left">
		<button class="button-header back-button buttons button-clear header-item" ng-click="goBack()">
			<i class="icon ion-arrow-left-c"></i>
		</button>
	</ion-nav-buttons>
  <ion-content class="padding" ng-init="inicio()">

    <div class="list card">	
	  <div class="item">
	     <label class="item item-input item-select">
            <h2 class="item-bold">Selecione o país</h2>
              <select ng-model="configura.pais" ng-change="configuraPais(configura.pais)">
                 <option selected></option>
<!--                 <option>Brasil</option> -->
                 <option>Estados Unidos</option>
              </select>
         </label>     
      </div>
    </div>  

    <div class="list card"> 
      <div class="item">
         <h2 class="item-bold">Versão 1.0.14</h2>
      </div>
    </div>  

<!--     <div class="list card"> 
      <div class="item" height="55px">
         <h2 class="item-bold">Servidor</h2>
         <ion-toggle ng-model="configura.servidor" ng-change="configuraServidor(configura.servidor)" toggle-class="toggle-calm">Habilita Amazon</ion-toggle>

      </div>
    </div>  
 -->
  </ion-content>
</ion-view>
